<header>
  <nav id="navBar" [ngClass]="{'navbar navbar-expand-md fixed-top px-1 pt-md-1 pr-0':true,
'sticky': scrolled, 'open':open }">
  
  <a (click)="changeLang('en')" *ngIf="language==='fr'" [ngClass]="{'golden':open,'px-2 nav-link':true}" >EN</a>
  <a (click)="changeLang('fr')" *ngIf="language==='en'" [ngClass]="{'golden':open,'px-2 nav-link':true}">FR</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" (click)="clicked()">
    <i class="fas fa-chevron-down"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto" >
          <li class="nav-item px-1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link"  routerLink="/" >{{translations.home}}</a>
          </li>
          <li class="nav-item px-1" routerLinkActive="active">
            <a class="nav-link" routerLink="portfolio">Portfolio</a>
          </li>
          <li class="nav-item px-1" routerLinkActive="active">
            <a  *ngIf="s.width < 768" class="nav-link" routerLink='contact'>{{translations.contact}}</a>
            <a *ngIf="s.width >= 768" type="button" class="btn modal-opener" data-toggle="modal" data-target="#myModal">{{translations.contact}}</a>
          </li>
          <a [ngClass]='{"btn":true, "golden":open,"border":s.width>768}' href="../../assets/CV.pdf" download="alhelou">{{translations.download}}</a>
      </ul>
  </div>
  
</nav>

</header>

