

<div class="container-fluid text-center p-0 pb-5 px-5" >
    <form autocomplete="off" #form="ngForm"  (ngSubmit)="processForm(form.value); form.reset()">
        <div class="row">
            <div class="col-12 ">

                <div class="form-group">
                    <label for="text">{{translation.add}}</label>
                    <textarea  class="form-control" id="message"  required [(ngModel)]="comment.text"  #text="ngModel" name="text"></textarea>
                </div>
            </div>
            
        </div>
        <div class="btn-group">
            <button class="btn send text-uppercase" type="submit" [disabled]="form.invalid">{{translation.post}}</button>
            </div>
    </form>
    <div id="posted" class="alert alert-success mt-2">
        <h6>{{translation.thank}}!</h6>
    </div>
</div>

