<div class="container-fluid py-2 px-0">
    <div class="row">
        <div class="col-md-6 my-auto text-center pb-2">
            <h1 class="text-white follow-me display-1" >
                Follow Me
            </h1>
        </div>
        <div class="col-md-2 col-4 text-center">
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="col-md-2 col-4 text-center">
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col-md-2 col-4 text-center">
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>