.section{
  color: lightgray;
  top:0;
  z-index: 99999;
}

.img-fluid{
  border: 2px solid white;
  border-radius: 8px;
}

.btn{
  color: lightgray;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.61) !important ;
}

.navbar > a{
  color: lightgrey;
  text-transform: uppercase;
}

.navbar > a:hover{
  text-decoration: none;
  color: goldenrod;
}