button{
    color: #263145d2;
    font-size: xx-large;
}
button:hover{
    color: #263145;
    font-size: xx-large;
}

.modal-dialog {
    width: 80vw;
  }
  
  .modal-content {
    width: 100%;
    border-radius: 0;
    border: 5px solid #263145;
  }