<section class="pt-5 pb-2 px-3">
    <div class="container-fluid text-center py-3 px-5">
        <div class="row">
            <div class="col-md-6 py-3">
                <h5>Languages</h5>
                <app-stat value=10 name="Arabic"></app-stat>
                <app-stat value=10 name="French"></app-stat>
                <app-stat value=9 name="English"></app-stat>
                <app-stat value=3 name="Spanish"></app-stat>
            </div>
            <div class="col-md-6 py-3">
                <h5>IT Skills</h5>
                <app-stat value=9 name="Python"></app-stat>
                <app-stat value=9 name="C/C++"></app-stat>
                <app-stat value=9 name="HTML/CSS/JS"></app-stat>
                <app-stat value=8 name="Java"></app-stat>
                <app-stat value=6 name="OCaml"></app-stat>
            </div>
        </div>
    </div>
</section>