
<section class="section" id="portfolio">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="text-uppercase">Experience</h1>
        </div>
    </div>
    <div class="row m-0 " *ngFor="let item of items; let index= index;">
        
        <div class="col-md-5 space-md" *ngIf="index%2" ></div>
        <div class="col-md-2 space-md" align="center" *ngIf="index%2" ><div class="vl"><i class="fas fa-circle"></i></div></div>
        
        
        <div class="col-9 col-md-5 my-2 experience-item"  >
            <div class="col-12 " > <h2>{{item.institution}}</h2> </div>
            <div class="col-12 dates"> {{item.start}} <strong>~</strong> {{(item.end == "") ? "Present" : item.end }}</div>
            <div class="col-12" > <h5>{{item.role}}</h5> </div>
            <div class="col-12"> <p> {{item.description}} </p> </div>
        </div>
        
        
        <div class="col-md-2 space-md" align="center" *ngIf="(index+1)%2" ><div class="vl"><i class="fas fa-circle"></i></div></div>
        <div class="col-md-5 space-md" *ngIf="(index+1)%2" ></div>
        
        
        <div class="col-3 space-sm" align="center"><div class="vl"><i class="fas fa-circle"></i></div> </div>
    </div>  
</section>

