.portfolio-item{
  background-color:white;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 1% 5%;
  cursor: pointer;
  border: 5px solid #263145;
  height: 45vh;
}


.img-fluid {
  border-radius: 10px;
}

.portfolio-title{
  text-align: center;
  color: #263145;
  text-transform: uppercase;
  font-size: xx-large;
}

.portfolio-description{
  position: absolute;
  text-align: center;
  font-size: small;
  left: 0;
  padding: 6% 12%;
  opacity: 0;
  transform: scale(0);
  transition: opacity 750ms;
}

.portfolio-description > a{
  color: goldenrod;
  position: relative;
  bottom: 0;
}

.portfolio-description > .btn{
  margin-top: 10px;
}

.portfolio-item.open > .portfolio-title , .portfolio-item.open > .img-fluid {
  opacity: 0;
  transform: scale(0);
}

.portfolio-item.open > .portfolio-description{
  opacity: 1;
  transform: scale(1);
}

h1{
  color: lightgray;
  margin-bottom: 10px;
  font-size: 8vw;
}

.portfolio-item > i{
  position: absolute;
  text-align: center;
  opacity: 0;
  color: whitesmoke;
  width: 100%;
  left: 0;
  font-size: 15vh;
}

.portfolio-item:hover{
    background-color: rgba(255, 245, 238, 0.11);
    z-index: 30;
    border: 5px solid goldenrod;
  }

.portfolio-item:hover > .img-fluid, .portfolio-item:hover > .portfolio-title{
  opacity: 0;
}

.portfolio-item:hover > i{
  opacity: 1;
}

.portfolio-item.open:hover > i{
  opacity: 0;
}

.portfolio-item.open:hover{
  opacity: 1;
  background-color: white;
}

.moreIcon{
  width: 100%;
  font-size: 10vh;
  text-align: center;
  color: lightgray;
}

.moreIcon > i:hover{
  cursor: pointer;
  opacity: .7;
  color: orange;
}

.btn{
  color: #263145 !important;
  font-size: x-small;
}

.more-info{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: space-around;
  padding-top: 20%;
  bottom: 5px;
}