<section class="section p-5" id="portfolio">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="text-uppercase">Portfolio</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 mb-4" *ngFor="let item of items; let first = first; let index = index;">
                <div *ngIf="first || index===1 || index ===2 || moreStatus" class="portfolio-item" (click)="changeStatus(item.id)" id="{{item.id}}" [class.open]='status[item.id]'>
                    <img class="portfolio-img" src="{{item.img}}" alt=""/>
                    <div class="portfolio-title">
                        {{item.title}}
                    </div> 

                    <i class="fas fa-plus"></i>

                    <div class="portfolio-description ">
                        <div class="portfolio-title">{{item.title}}</div>
                        {{item.description}}<br>
                        <a class="btn" href="{{item.url}}" >Learn More</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="moreIcon">
                    <i (click)="moreStatus=!moreStatus;" [ngClass]="{'fas': true, 'fa-arrow-down':!moreStatus,'fa-arrow-up': moreStatus}"></i>
                </div>
            </div>
        </div>
    </div>
