/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Play');
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat';
    background: linear-gradient(#263145be,#263145ad), url(assets/bg2.jpeg);
    background-attachment:fixed;    
    overflow: overlay;
  }

h1{
  font-size: 11.5vw;
  font-family: 'Play';
  margin: 0;
  text-shadow: 12px 5px 0 #0a0e27;
}

a:hover{
  cursor: pointer;
}

.golden{
  color: goldenrod !important;
}

::-webkit-scrollbar {
  width: 12px;
  display: none;
}

.sticky {
  background-color: #263145be !important ;
  z-index: 99;
  transition: all 900ms ease;
}

.sticky + .content {
padding-top: 102px;
}