@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 217, 0, 0.171);
  }
  100% {
    box-shadow: 0 0 0 2vh rgba(218, 165, 32, 0.199);
  }
}

f{
  font-size: xx-large !important;
}

.avatar{
    border-radius: 50%;
    animation: shadow-pulse 950ms infinite;
    border: 2px solid #263145;
}

h1{
  text-transform: uppercase;
  font-family: 'Anton';
  text-shadow: none;
}

@media(min-height: 768px){
  section:first-child{
    height: 100vh;
  }
  .container-fluid{
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
}

.follow{
  background-color: #263145a6;
}

.fa-basketball-ball{
  color: rgb(216, 140, 0);
}
.fa-music{
  color: crimson;
}

.cards{
  border: 2px solid #263145;
}

@media(min-width: 768px){
  .follow-me{
    font-size: 10vw;
  }
}


h2{
  font-size: 10vw;
  font-family: 'Play';
  margin: 0;
  text-shadow: 12px 5px 0 #0a0e27;
}

.card{
  font-size: 8vw;
  text-align: center;
  border: 6px solid #263145 !important;
  border-radius: 20px;
}

ul{
  list-style: none;
}

.logo{
  font-size: xx-large;
}

.caption{
  font-size: medium;
}

.fa-trophy{
  color: gold;
}

.fa-tshirt{
  color: darkblue;
}
.fa-guitar{
  color: rgb(94, 25, 25);
}