<div class="section">
    <div class="container-fluid" id="intro">
        <div class="row " id="row1">
            <div class="col-12 my-auto" align='center'> 
                <img  class="img-fluid pulse" id="avatar" src="../../assets/avatar.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-auto" align='center'> 
                <div class="text-white">
                    <app-typewriter message="Charbel alhelou"></app-typewriter>
                </div>
            </div>
        </div>
    </div>
</div>

<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-portofolio id="portofolio"></app-portofolio>
<app-experience id="experience"></app-experience>
<app-contact id="contact"></app-contact>