.section{
  background: linear-gradient(darkslategray,rgba(47, 79, 79, 0.3)), url(../../assets/bg2.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 30, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 2vh rgba(255, 123, 0, 0.2);
  }
}

.pulse
{
  border-radius: 50%;
  animation: shadow-pulse 950ms infinite;
}

#avatar{
    position: relative;
    align-items: center;
    max-height: 40vh;
}
