<div class="section" id="about">
    <div class="container-fluid" id="intro">
        <div class="row " >
            <div class="col-12 my-auto" align='center'> 
                <img  class="img-fluid pulse" id="avatar" src="../../assets/avatar.png" alt="">
            </div>
        </div>
        <div class="row" id="caption">
            <div class="col-12 my-auto text-center" align='center'> 
                    <app-typewriter class="text-white" message="Charbel alhelou"></app-typewriter>
            </div>
            <div class="col-12 my-auto text-center" align='center'> 
                <h5>I'm a 4th year student at ENSTA Paris</h5>
            </div>
        </div>
    </div>
</div>

<app-skills id="skills"></app-skills>
<app-portofolio id="portofolio"></app-portofolio>
<app-experience id="experience"></app-experience>
<app-contact id="contact"></app-contact>