.section{
  height: 98vh;
}

.container-fluid{
  background-color: rgba(255, 255, 255,1);
  height: 100%;
  z-index: 3;
  border-radius: 20px;
  border: 5px solid #263145;
  padding: 20px 0;
}

h1{
  margin-bottom: 10px;
  font-size: 5vw;
}

@media (min-width: 992px){
  .container{
    display: flex;
    flex-direction: row;

  }
}

.send{
  border: 2px solid orange;
  margin-right: 5px;
  border-radius: 5px;
  color: orange;
}

.reset{
  border: 2px solid crimson;
  margin-left: 5px;
  border-radius: 5px;
  color: crimson;
}
