
.container-fluid{
  background-color: rgba(255, 255, 255,1);
  width: 100%;
  z-index: 3;
  border-radius: 20px;
  border: 5px solid #263145;
  padding: 20px 0;
}

h1{
  margin-bottom: 10px;
  font-size: 5vw;
}

@media (min-width: 992px){
}

.send{
  border: 2px solid orange;
  margin-right: 5px;
  border-radius: 5px;
  color: orange;
}

.reset{
  border: 2px solid crimson;
  margin-left: 5px;
  border-radius: 5px;
  color: crimson;
}

#message{
  line-height: 100px;
}

.error{
  border: 2px solid red;
}

textarea{
  overflow: auto;
  line-height: 20px !important;
  height: 100px !important;
}

.text-danger{
  margin-bottom: 0;
  opacity: 0;
}

.form-group{
  padding-bottom: 0 !important;
  margin: 0;
}

.col-12:last-child{
  margin-bottom: 8px;
}

.visible{
  opacity: 1 !important;
}

a{
  font-size: 10vh;
  color: whitesmoke;
  padding-top: 10% ;
}

a:hover{
  color: goldenrod;
}


ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 5px 4%;
}