.container-fluid{
    font-size: 4vh;
    text-transform: uppercase;
    opacity: 0.75;
    height: 8vh;
    padding-top: 8px;
}

@media (min-width: 1300px){
    .container-fluid{
        font-size: 5vh;
        text-transform: uppercase;
        opacity: 0.75;
        height: 8vh;
    }
}