.container-fluid{
    font-size: 7vh;
    text-transform: uppercase;
    opacity: 0.75;
    height: 7vh;
}

@media (max-width: 992px){
    .container-fluid{
        font-size: 4vh;
        text-transform: uppercase;
        opacity: 0.75;
        height: 8vh;
        padding-top: 8px;
    }
}