section{
    height: 300px;
    color: goldenrod;
}

.container-fluid{
    border: 2px solid goldenrod;
    overflow: scroll;
    background-size: cover;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.08);
}



h1{
    font-size: 10vw;
    text-shadow: 2px 3px 0 goldenrod !important;
}

.name{
    font-size: xx-large;
    font-weight: 500;
    
}

.date{
    font-size: small;
}

.relation{
    font-size: large;
}

p{
    font-size: small;
}

.comment{
    background-color: whitesmoke;
    border-radius: 30px;
}